<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>75</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>74</string>
					<key>Timestamp</key>
					<string>743308689.789283</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        .frame(width: isPortrait ? proxy.size.width * 0.35 : proxy.size.height * 0.35)
</string>
				<key>leading</key>
				<string>                        .scaledToFit()
                        .aspectRatio(1.0, contentMode: .fit)
</string>
				<key>trailing</key>
				<string>                        .clipShape(Rectangle())
                        .fontWeight(Font.Weight?.some(Font.Weight.thin))
                        .foregroundStyle(toneBarrierSapphire)
</string>
			</dict>
			<key>title</key>
			<string>landscape = height, portrait = width</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>71</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>70</string>
					<key>Timestamp</key>
					<string>743308689.789305</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    Image(systemName: isPlaying ? "stop" : "play")
</string>
				<key>leading</key>
				<string>                    audio()
                }) {
</string>
				<key>trailing</key>
				<string>                        .resizable()
                        .scaledToFit()
                        .aspectRatio(1.0, contentMode: .fit)
</string>
			</dict>
			<key>title</key>
			<string>play: offset 13, 13; stop: offset ?, ?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
